
<footer>

  <div class="col col-md-auto text-center">
    <small class="text-muted">©2019 This page is protected by reCAPTCHA and is subject to the Google <a href="https://www.google.com/policies/privacy/">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service.</a>
    </small>
  </div>
</footer>
